<footer class="footer">
  <div class="page-container">

    <div class="footer-top">

      <div class="footer-brand">
        <img src="Cookee_logo_crudo.svg" alt="Cookee" class="footer-logo-img"/>
      </div>

      <div class="footer-col">
        <p class="footer-col-title">Explorar</p>
        <ul class="footer-links">
          <li><a routerLink="/explore">Recetas recientes</a></li>
          <li><a routerLink="/explore?sort=likes">Más me gusta</a></li>
          <li><a routerLink="/people">Cocinillas</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <p class="footer-col-title">Tu cuenta</p>
        <ul class="footer-links">
          @if (!identity) {
          <li><a routerLink="/login">Iniciar sesión</a></li>
          <li><a routerLink="/register">Registrarse</a></li>
          } @else {
          <li><a routerLink="/my-data">Mis datos</a></li>
          <li><a routerLink="/feed">Mi feed</a></li>
          <li>
            <button class="footer-logout-btn" (click)="logout()">Cerrar sesión</button>
          </li>
          }
        </ul>
      </div>

      <div class="footer-col">
        <p class="footer-col-title">Proyecto</p>
        <ul class="footer-links">
          <li><a routerLink="/">Sobre Cookee</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-sponsors">
      <p class="footer-sponsors-title">Patrocinadores</p>
      <div class="footer-sponsors-list">
        <a class="sponsor" href="https://www.kitchenaid.es" target="_blank" style="color:#e05565">KitchenAid<span>Electrodomésticos</span></a>
        <a class="sponsor" href="https://www.thermomix.com" target="_blank" style="color:#b0a8a0">Thermomix<span>Robots de cocina</span></a>
        <a class="sponsor" href="https://www.lecreuset.es" target="_blank" style="color:#e07840">Le Creuset<span>Utensilios</span></a>
        <a class="sponsor" href="https://www.nielsenmassey.com" target="_blank"
           style="color:#c8a96e">Nielsen-Massey<span>Extractos y especias</span></a>
        <a class="sponsor" href="https://www.lekue.com" target="_blank" style="color:#e86070">Lékué<span>Moldes y accesorios</span></a>
        <a class="sponsor" href="https://www.delonghi.com" target="_blank" style="color:#d04050">De'Longhi<span>Cafeteras</span></a>
      </div>
    </div>

    <div class="footer-bottom">
      <p class="footer-copy">© 2026 <span>Cookee</span> · María Muñoz Ferrer · PFC DAW</p>
      <div class="footer-legal">
        <a href="#">Privacidad</a>
        <a href="#">Términos</a>
        <a href="#">Contacto</a>
      </div>
    </div>
  </div>
</footer>
